body {
    background-color: #282828;
}

h1 {
    color: #FF6F61;
    font-size: 8vh;
    font-family: "Graduate", serif;
    font-weight: 400;
    font-style: normal; 
    margin-bottom: 0;    
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}

.stats {
    font-family: "Graduate", serif;
    font-weight: 400;
    font-style: normal;  
    color: #FFCE00;
    font-size: 3vh;
    width: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.board {
    background-color: #000000;
    gap: 5px;
    height: 60vh;
    width: 60vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(4, 1fr);
    padding:10px;
    border-radius: 10px;
}

.cell {
    background-color: #FF6F61; 
    color: #000000; 
    border: 1px solid #000; 
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
}

.void {
    background-color: #474747; 
    border: 1px solid #000; 
    border-radius: 10px;
}

.digital {
    font-family: "Graduate", serif;
    font-weight: 900;
    font-size:6vh; 
}

.gameover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(44, 44, 44, 0.9);
    color: #FFCE00;
    padding: 20px;
    font-size: 24px;
    border-radius: 10px;
    z-index: -1;
    visibility: hidden;
    font-family: 'Graduate', sans-serif;
    align-items: center;
}

.slider-container{
    color:#FF6F61;
}

@media (max-width: 600px) {
    .gameover {
        top: 40%;
        left: 50%;
    }

    h1 {
        font-size: 6vh;
    }

    .content {
        gap: 5vh;
    }

    .stats {
        width: 50vh;
        font-size: 2.5vh;
    }

    .board {
        height: 30vh;
        width: 30vh;
    }

    .cell {
        font-size: 2vh;
    }
}
