html{
    overflow-x: hidden;
}

body {
    background-color: #282828;
}

h1 {
    color: aliceblue;
    font-size: 8vh;
    font-family: "Graduate", serif;
    font-weight: 400;
    font-style: normal; 
    margin-bottom: 0;    
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}

.stats {
    font-family: "Graduate", serif;
    font-weight: 400;
    font-style: normal;  
    color: aliceblue;
    font-size: 3vh;
    width: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.board {
    background-color: #000000;
    gap: 5px;
    height: 60vh;
    width: 60vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(4, 1fr);
    padding:10px;
    border-radius: 10px;
}

.cell {
    background-color: #0A74DA; 
    color: rgb(255, 255, 255); 
    border: 1px solid #000; 
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
}

.void {
    background-color: #474747; 
    border: 1px solid #000; 
    border-radius: 10px;
}

.digital {
    font-family: "Graduate", serif;
    font-weight: 900;
    font-size:6vh; 
}

.gameover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(44, 44, 44, 0.9);
    color: aliceblue;
    padding: 20px;
    font-size: 24px;
    border-radius: 10px;
    z-index: -1;
    visibility: hidden;
    font-family: 'Graduate', sans-serif;
    align-items: center;
}

.rotate-180{
    transform: translate(-50%, -50%) rotate(180deg);
}

.sizeslider span{
    font-family: 'Graduate', sans-serif;
    align-items: center;
    color:aliceblue;
    font-size: 3vh;
}

.sizeslider{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    width:50vh;
    gap:5px;
}

.slider {
    -webkit-appearance: none;
    width: 20vh;
    height: 1vh;
    background: #0A74DA;
    outline: none;
    border-radius: 5px;
    margin: 2vh 0;
}

.slider::-webkit-slider-thumb {
    border-color: #282828;
    border-style: solid;
    border-width: 2px;
    -webkit-appearance: none;
    appearance: none;
    width: 4vh;
    height: 4vh;
    background: #ffffff;
    border-radius: 10px;
    cursor: pointer;
}

.slider::-moz-range-thumb {
width: 3vh;
height: 3vh;
background: #ffffff;
border-radius: 50%;
cursor: pointer;
}

@media (max-width: 600px) {
    .slider {
        width: 40vh;
    }

    .slider::-webkit-slider-thumb, .slider::-moz-range-thumb {
        width: 2vh;
        height: 2vh;
    }

    .gameover {
        top: 40%;
        left: 50%;
    }

    h1 {
        font-size: 6vh;
    }

    .content {
        gap: 5vh;
    }

    .stats {
        width: 50vh;
        font-size: 2.5vh;
    }

    .board {
        height: 40vh;
        width: 40vh;
    }

    .cell {
        font-size: 2vh;
    }
}
